body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(35, 35, 39);
  color: rgb(255, 96, 2);
}

header {
  background-color: rgb(255, 96, 2);
  color: #000000;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  color: #000000;
  text-decoration: none;
}

main {
  padding: 2em;
}

.project {
  background: rgb(84, 68, 68);
  padding: 1em;
  margin-top: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
